<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SGF</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/global.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    @RenderSection("Styles", required: false)
</head>
<body>
  <div class="wrapper">
    <nav id="sidebar" class="box-shadow">
        <div class="sidebar-header">
            <h3 class="mb-0 text-center">SGF</h3>
        </div>

        <ul class="list-unstyled components">
            <li>
                <a class="nav-link" asp-area="" asp-controller="Dashboard" asp-action="Index">Home</a>
            </li>
            <li>
                <a class="nav-link" asp-area="" asp-controller="Category" asp-action="Index">Categorias</a>
            </li>
            <li>
                <a class="nav-link" asp-area="" asp-controller="Transaction" asp-action="Index">Transações</a>
            </li>
        </ul>
    </nav>

    <div id="layoutOverlay" class="overlay"></div>

    <div id="content">
      <nav class="navbar navbar-expand-lg navbar-light m-0">
          <div class="container-fluid">

              <button type="button" id="sidebarCollapse" class="btn">
                  <i class="fas fa-align-justify"></i>
              </button>

              <div class="navbar p-0 m-0">
                  <ul class="nav navbar-nav ml-auto">
                      <li class="nav-item">
                        <form method="post" asp-controller="account" asp-action="logout" >
                            <button type="submit" class="btn">
                                <i class="fas fa-right-from-bracket"></i>
                                Logout
                            </button>
                        </form>
                      </li>  
                  </ul>
              </div>
          </div>
      </nav>

      <main role="main" class="p-4">
          @RenderBody()
      </main>
    </div>
  </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar, #content, #layoutOverlay' ).toggleClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
                $("#sidebar ul li ul").removeClass("show");
                $("#sidebar ul li").removeClass("active");
            });

            $("#layoutOverlay").on('click', function() {
                $('#sidebar, #content, #layoutOverlay' ).toggleClass('active');
            });

            $("#sidebar ul li").click(function() {
                $("#sidebar ul li").not(this).removeClass("active");
                $(this).addClass("active");
            });
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>